h1 {
text-align: center;
padding-top: 100px;
}

.flag {
position: absolute;
height: 300px;
}

div {
color: #ffff;
text-align: right;
width: 90%; 
height: 50px;  
}   

div:nth-child(odd) {
background-color: #ff0004;
}
        
        
        

        